*{
    margin: 0;
    padding: 0;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15rem;
    margin-bottom: 15rem;
}
.btn{
    height: 80px;
    width: 80px;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.cyan{
    background-color: cyan;
}
.yellow{
    background-color: yellow;
}
